/* basic */
#basic-modal-content {display:none;}
#simplemodal-overlay {background-color:#000; cursor:wait;}
#simplemodal-container {height:320px; width:600px; color:#bbb; background-color:#EEE; border:4px solid #999; padding:12px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg { width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:8px;}

/* confirm */
#confirm {display:none;}
#confirm-overlay {background-color:#eee; cursor:wait;}
#confirm-container {height:140px; width:420px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left; background:#fff; border:2px solid #336699;}
#confirm-container .header {height:30px; width:100%; background:url(header.gif) repeat-x; color:#fff; font-size:1.1em; font-weight:bold; line-height:30px;}
#confirm-container .header span {padding-left:8px;}
#confirm-container .message {color:#333; margin:0; padding:12px 4px 12px 8px; font-size:1em;}
#confirm-container .buttons {width:160px; float:right; padding:10px 8px 0;} 
#confirm-container .buttons div {float:right; margin-left:4px; width:70px; height:26px; color:#666; font-weight:bold; line-height:26px; text-align:center; background:url(button.gif) repeat-x; border:1px solid #bbb; cursor:pointer;} 
#confirm-container a.modal-close,
#confirm-container a.modal-close:link,
#confirm-container a.modal-close:active,
#confirm-container a.modal-close:visited {text-decoration:none; font-size:1.1em; position:absolute; top:-1px; left:400px; color:#ccc;}
#confirm-container a.modal-close:hover {color:#eee;}

/* osx */
#osx-modal-content, #osx-modal-data {display:none;}
#osx-overlay {background-color:#000; cursor:wait;}
#osx-container {background-color:#eee; color:#000; font-family:"Lucida Grande",Arial,sans-serif; font-size:.9em; padding-bottom:4px; width:600px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000;}
#osx-container a {color:#ddd;}
#osx-container #osx-modal-title {color:#000; background-color:#ddd; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close {display:none; position:absolute; right:0; top:0;}
#osx-container .close a {display:block; color:#777; font-size:.8em; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
#osx-container .close a:hover {color:#000;}
#osx-container #osx-modal-data {padding:6px 12px;}
#osx-container h2 {margin:10px 0 6px;}
#osx-container p {margin-bottom:10px;}
#osx-container span {color:#777; font-size:.9em;}

/* contact */
#contact-overlay {background-color:#000; cursor:wait;}
#contact-container {width:450px; font-family:'Trebuchet MS', Verdana, Arial; font-size:16px; text-align:left;}
#contact-container .contact-content {background-color:#333; color:#ddd; height:40px;}
#contact-container h1 {color:#d76300; margin:0; padding:0 0 6px 12px; font-size:1.2em; text-align:left;}
#contact-container .contact-loading {position:absolute; background:url(loading.gif) no-repeat; z-index:8000; height:55px; width:54px; margin:-14px 0 0 170px; padding:0;}
#contact-container .contact-message {text-align:center;}
#contact-container .contact-error {width:92%; font-size:.8em; background:#000; border:2px solid #ccc; font-size:0.8em; font-weight:bold; margin:0 auto; padding:2px;}
#contact-container br {clear:both;}
#contact-container form {padding:0; margin:0;}
#contact-container label {clear:left; display:block; width:100px; float:left; text-align:right; padding-right:4px; font-weight:bold;}
#contact-container .contact-input {font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; background:#eee; border:1px solid #fff; width:300px;}
#contact-container textarea {height:114px; font-size:.9em;}
#contact-container .contact-cc {font-size:.9em; cursor:default;}
#contact-container .contact-top {height:13px; background:url(form_top.gif) no-repeat; padding:0; margin:0;}
#contact-container .contact-bottom {height:13px; background:url(form_bottom.gif) no-repeat; font-size:.7em; text-align:center;}
#contact-container .contact-bottom a,
#contact-container .contact-bottom a:link,
#contact-container .contact-bottom a:active,
#contact-container .contact-bottom a:visited {position:relative; top:-4px; text-decoration:none; color:#666;}
#contact-container .contact-bottom a:hover {color:#888;}
#contact-container .contact-button {margin:4px 0 0 4px; cursor:pointer; height:24px; border:0; font-size:1em; font-weight:bold; color:#fff; text-align:center; vertical-align:middle;}
#contact-container .contact-send {width:50px; background:url(send.png) no-repeat;}
#contact-container .contact-cancel {width:65px; background:url(cancel.png) no-repeat;}
#contact-container a.modal-close,
#contact-container a.modal-close:link,
#contact-container a.modal-close:active,
#contact-container a.modal-close:visited {text-decoration:none; font-weight:bold; font-size:1.2em; position:absolute; top:-4px; right:6px; color:#999;}
#contact-container a.modal-close:hover {color:#9bb3b3;}

/* flickr badge gallery */
#gallery-overlay {background-color:#000; cursor:wait;}
#gallery-container {margin:0 auto;}
#gallery {background:#fff url(loading-gallery.gif) center 100px no-repeat; color:#999; display:none; height:200px; font-family:verdana; margin:0 auto; position:relative; width:300px; -moz-box-shadow:0 0 64px #000; -webkit-box-shadow:0 0 64px #000;}
#gallery-image-container {background:#fff; display:none;}
#gallery-loading {padding:8px;}
#gallery-controls {display:none; height:100%; left:0; position:absolute; top:0; width:100%;}
#gallery-controls div {float:left; height:100%; width:50%;}
#gallery-controls a {background:#fff; color:#000; font-size:.8em; outline-style:none; position:absolute; text-decoration:none; top:40px;}
#gallery-previous-link {left:0; padding:6px 10px 6px 6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; -moz-border-radius-topright:6px; -webkit-border-top-right-radius:6px;}
#gallery-next-link {padding:6px 6px 6px 10px; right:0; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-topleft:6px; -webkit-border-top-left-radius:6px;}
#gallery-meta-container {background:#fff; color:#999; display:none; margin:0 auto; overflow:auto;}
#gallery-image {padding:8px;}
#gallery-meta {display:none; height:40px; line-height:1em; padding:0px 8px;}
#gallery-meta div {float:left;}
#gallery-info {text-align:left; width:80%;}
#gallery-close {line-height:1.4em; text-align:right; width:20%;}
#gallery-close a {color:#999; font-size:1.6em; font-weight:bold; outline-style:none; text-decoration:none;}
#gallery-close a:hover {color:#bbb;}
#gallery-title {color:#666; font-size:.9em; font-weight:bold;}
#gallery-pages {color:#999; display:block; font-size:.7em;}

