.tradecon {font-size:14px;position:absolute;right:0px;top:220px;width:220px;border:1px solid gray; padding:5px;}
.tradepop li {margin:10px;}
.tradepop li .label {width:40px;display:inline-block;}
.tradepop li .value {color:red;width:115px;display:inline-block;margin-left:5px;}
.notify table {width:220px;}
.notify table input {width:50px;}
.notify table select {width:70px;line-height:24px;height:24px;}
.func h2 {font-size:16px;font-weight:bold;}
